.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}
.card{
	minWidth: 300;
	transition:0.5s;
}
.card:hover{
	transition:0.5s;
	background:linear-gradient(-30deg,rgba(99, 168, 97, 0.979),transparent);
}
.card-color-gradient{
    background:linear-gradient(-30deg,rgba(99, 168, 97, 0.979),transparent);
}
.card-color-gradient-terminated{
    background:linear-gradient(-30deg,rgba(213,138,18, 0.979),transparent);
}
.dato{
  text-align: center;
  display:grid;
  align-items: center;
  height: 50%;
}
.paper{
  text-align: center;
  height: 100%;
  padding:0.4em !important;
  border: 0.05em #000000 solid !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}