.card-color-gradient{
    background:linear-gradient(-30deg,rgba(99, 168, 97, 0.979),transparent);
}
card{
	width: 30%;
}
media{
    height: 40%;
    width: 30%;
}
root{
    flexGrow: 1;
    height: 100%;
    width: 100%;
    padding: 10%;
}
paper{
    textAlign: 'center',
}
