.other-card-color-gradient{
  transition: 0.5s;
  background:rgba(40, 167, 69, 1);
}
.other-card-color-gradient:hover{
  transition: 0.5s;
  background:rgba(40, 183, 69, 1);
}

.button-specs{
    float: right;
    background:#ff5722;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.root {
    flex-grow: 1;
	width: 100%;
	padding: 50px;
}
.add{
	color: #28a745;
	float: right;
}
.add:hover{
   background-color: #28C745;
}
.card{
  width:100%;
  float: right;
}
.card:hover{
  transition: 3s !important;
}
.media{
  height: 145;
  width: 80;
}
.paper{
  text-align: center;
  height: 100%;
  padding:0.02em !important;
  border: 0.05em #000000 solid !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}
.dato{
  text-align: center;
  display:grid;
  align-items: center;
  height: 50%;
}

