.custom-modal-style {
    width: 100vw;
    height: 30vw;
    margin: 100px auto;
}
.border-row{
    border: #5cb85c solid;
}

.root {
    width:'100%';
    padding:'50px';
}

.heading {
    font-size: 15;
    font-weight: 10;
    flex-basis: 33.33%;
    flex-shrink: 0;
}

.secondaryHeading {
    font-size: 15;
    color: '';
}

.fab {
    margin: 1;
    align-self: start;
}

.add{
    
    float: left;
    background: "#28C745";
    padding:'8px';
}

.panel{
    height: 300px;
    overflow-y: auto;
}